/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: #ffffff;
  --color-text-main: #000000;
  --color-primary: #afece0;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --fun-color: #0ff;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-bg);
  margin: 0;
}
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0;
  min-height: 86vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Page titles */
h1 {
  color: #2800ff;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
}
.page h1 {
  font-size: 48px;
}

.page p {
  line-height: 1.5;
}

.page a {
  color: #000;
}

.page a:hover {
  text-decoration: none;
}

/* The React image and "click me" text */
.btn--click-me {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.btn--click-me:hover {
  text-decoration: underline;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  cursor: pointer;
  padding-left: 3.5rem;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}
.instructions p {
  font-size: 1rem;
}

.react-flow__handle {
  border-radius: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--fun-color);
}

.react-flow {
  overflow: visible !important;
}

.edit-handle:hover {
  /* animation: fadeIn 1s; */
  background-color: var(--fun-color);
}

.noedit-handle {
  cursor: initial !important;
}

h2 {
  color: #2800ff;
}

.text-entry-node {
  padding: 0px;
  outline: 0px solid transparent !important;
  /*
  max-width: 45%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  */

  border-radius: 15px;  /* Rounds all corners */
  border: 3px solid var(--fun-color);
  box-shadow: 0 0 5px var(--fun-color),
              0 0 10px var(--fun-color);
  padding: 10px;
}

@keyframes emergeFromSurface {
  0% {
    transform: translateZ(0) translateY(50px);
    opacity: 0;
    /* box-shadow: 0 0 0 rgba(0,0,0,0); */
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateZ(100px) translateY(0);
    opacity: 1;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.1); */
  }
}

.speech-label-node {
  border-bottom: 5px solid black;
  padding: 10px;
  background: white;
  text-align: center;
  animation: fadeIn 0.2s;
  box-shadow: 5px 10px 10px #ccc;
}

.react-flow__node-speechLabel {
  z-index: 9999 !important;
}

.react-flow__node-textEntry {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.text-entry-node > textarea {
  border: none;
  outline: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 5em;
}

.argument-node {
  border: none;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  z-index: 999 !important;
  user-select: text;
}

.argument-text {
  cursor: text;
  overflow: hidden;

  transform: translateZ(0) translateY(10px);
  opacity: 0;
  /* box-shadow: 0 0 0 rgba(0,0,0,0); */

  /* Animation properties */
  animation: emergeFromSurface 0.6s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;

  width: fit-content;
  padding: 10px;
}

/* Optional hover state for interactive elements */
.argument-text:hover {
  transform: translateZ(30px) translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.active-node {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.1s;
  border: 1px solid rgba(204, 204, 204, 0.3);
  width: fit-content;
  min-width: 20%;

  border-radius: 15px;  /* Rounds all corners */
  border: 3px solid var(--fun-color);
  box-shadow: 0 0 5px var(--fun-color),
              0 0 10px var(--fun-color);
  padding: 10px;
}

.selected {
  z-index: 9999 !important;
}

#download, #upload, #upload-label > img {
  height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 15px;
  cursor: pointer;
}

#upload {
  display: none;
}

#upload-label > img {
  transform: rotate(180deg);;
}

#cursor-position {
  position: fixed;
  top: 10px;
  left: 10px;
}

#flow-container {
  width: "100vw";
  height: "100vh";
}

.delete-node {
  top: 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.add-node {
  top: 75px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.move-left-node {
  top: 50px;
  padding: 5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.move-right-node {
  top: 25px;
  padding: 5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.control-node {
  position: absolute;
  right: -25px;
  cursor: pointer;
  height: 25px;
  width: 25px;
  z-index: 9999;
  background: white;
  box-shadow: 2px 2px 5px #ccc;
}

.control-node:hover {
  background: rgba(0, 0, 0, 0.25);
}

.collapse-exchange {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  height: 15px;
  width: 15px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px #ccc;
}

.collapse-exchange:hover {
  background: rgba(0, 0, 0, 0.25);
}

.rw-multiselect {
  padding-top: 10px;
}

.rw-widget-input {
  border: none;
  box-shadow: none;
  z-index: 9999 !important;
  background-color: rgba(255, 255, 255, 0);
}

.rw-multiselect-tag {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.rw-popup-container {
  z-index: 9999 !important;
  overflow: visible;
}

#speakers {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999 !important;
  background: #fff;
}

#speakers.editing {
  background: rgba(255, 255, 255, 0.8);
}

.speechLabel {
  position: absolute;
  text-align: center;
  padding: 10px;
  z-index: 9996 !important;
  color: #000;
  font-size: 1rem;
}

.moderatorSpeech {
  font-size: 0.9rem;
  color: #ccc;
}

#debateTitle {
  color: #000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  padding-top: 1rem;
  font-size: 1.2rem;
}

#speeches {
  height: 2rem;
  position: sticky;
  top: 64px;
  left: 0px;
  box-shadow: 5px 10px 10px #ccc;
  z-index: 9999 !important;
  background: #fff;
}

#flowCanvas {
  padding-top: 75px;
}

#navHelp {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.argument-text {
  text-align: left;
}

#source-tag {
  font-size: small;
  font-variant: small-caps;
}

#tagSelect {
  display: flex;
  width: 25%;
}

#header {
  display: flex;
}

#logo {
  position: relative;
  top: 0;
  width: 5%;
  cursor: pointer;
  padding: 15px;
}

#debateTitleParent {
  width: 100%;
}

main.wrapper {
  place-items: baseline;
}

#flyout {
  height: 80%;
  width: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  background: #fff;
  z-index: 9999;
  animation: fadeIn 0.5s;
  padding: 10%;
  box-shadow: 5px 5px 5px #ccc;
  border: 1px solid #ccc;
  opacity: 1;
}

.hidden {
  animation: fadeOut 0.5s !important;
  opacity: 0 !important;
  z-index: -1 !important;
  pointer-events: none !important;
}

#flyoutLogo {
  width: 100px;
}

#closeFlyout {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#editToggle {
  margin-top: auto;
  margin-bottom: auto;
  overflow: visible;
  z-index: 9999 !important;
  text-align: right;
  display: inline;
}

#navParent {
  padding: 1%;
  position: fixed;
  right: 0;
  bottom: 0;
}

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128d15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19ab27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}

.toggleIcon {
  color: #fff;
  height: 14px;
  width: 10px;
  margin-top: -2px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
